<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>Traffic Stops in Berkeley</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>Disparities in law enforcement</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="https://www.dailycal.org/author/alexzhao/">Alex Zhao</a></span>  <br /> <span class="timestamp"> <time datetime="2020-07-24T08:00-0800">AUGUST 28, 2020</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
