<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>Police stops in Berkeley</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>Disparities in law enforcement</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="https://www.dailycal.org/author/alexzhao/" target="_blank">Alex Zhao</a>, <a href="https://www.dailycal.org/author/pkapshikar/" target="_blank">Purva Kapshikar</a>,
                <a href="https://www.dailycal.org/author/akatewa" target="_blank">Aditya Katewa</a>, and <a href="https://www.dailycal.org/author/chsu/" target="_blank">Catherine Hsu</a>
            </span> <br /> <span class="timestamp"> <time datetime="2020-07-24T08:00-0800">OCTOBER 10, 2020</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
