<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <style>

    .chart-background {
    	opacity: 0;
    }

    div.tooltip{
      position: absolute;
      text-align: left;
      padding: 12px;
      font: 12px benton-sans;
      background-color: white;
      border: 1px #b7b7b7 solid;
      pointer-events: none;
      width: 230px;
      height: 110px;

    }

    .dot {
      fill: #ffb4d9;
      stroke: black;
      stroke-width: 0.75;
    }

    .active {
      fill: blue;
    }

    .dot1 {
      fill: #ffb4d9;
      stroke: black;
      stroke-width: 0.75;
    }

    .axis-label {
      font-size: 16px;
      font-weight: 700;
    }

    .title {
      font-size: 18px;
      font-weight: 700;
    }

    .sub-title {
      font-weight: 700;
    }

    .grid-line {
      stroke: black;
      opacity: 0.2;
      stroke-dasharray: 1,2;
    }

    text {
      font-family: benton-sans;
      font-size: 12px;
    }

    .dot-label {
      font-weight: 700;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }
  </style>
</head>

<div id="bubble"></div>
  <script>
    var margin_bubble = {top: 120, right: 75, bottom: 125, left: 200};

    var width = 960 - margin_bubble.left - margin_bubble.right,
    		height_bubble = 800 - margin_bubble.top - margin_bubble.bottom;

    var svg = d3.select("#bubble").append("svg")
          .attr("width", width + margin_bubble.left + margin_bubble.right)
          .attr("height", height_bubble + margin_bubble.top + margin_bubble.bottom)
        .append("g")
          .attr("transform", "translate(" + margin_bubble.left + "," + margin_bubble.top + ")");

    var div = d3.select("#bubble").append("div")
    	.attr("class", "tooltip")
    	.style("opacity", 0);

    var formatPercent = d3.format(".0%");

    var formatThousands = function(d) {
      return d;
    };

    var formatRatio = function(d) {
      return d;
    }

    var uniLookup = {};

    var xAccessor = function(d, x) {
      return x(uniLookup[d.name].state);
    };

    var labelPosY = function(d, y) {
      if (d.name == "UCLA") {
        return y(uniLookup[d.name].enroll - 0.007);
      } else if (d.name == "UC Berkeley") {
        return y(uniLookup[d.name].enroll);
      } else if (d.name == "UW Madison") {
        return y(uniLookup[d.name].enroll);
      } else if (d.name == "University of Virginia") {
        return y(uniLookup[d.name].enroll - 0.04);
      } else if (d.name == "UNC Chapel Hill") {
        return y(uniLookup[d.name].enroll);
      } else if (d.name == "University of Florida") {
        return y(uniLookup[d.name].enroll - 0.04);
      } else if (d.name == "UC Irvine") {
        return y(uniLookup[d.name].enroll + 0.02);
      } else if (d.name == "UC San Diego") {
        return y(uniLookup[d.name].enroll - 0.025);
      } else if (d.name == "UC Santa Barbara") {
        return y(uniLookup[d.name].enroll + 0.005);
      } else if (d.name == "UC Davis") {
        return y(uniLookup[d.name].enroll + 0.014);
      } else if (d.name == "University of Illinois Urbana-Champaign") {
        return y(uniLookup[d.name].enroll - 0.04);
      } else {
        return y(uniLookup[d.name].enroll);
      }
    };
    var labelPosX = function(d, x) {
      if (d.name == "UCLA") {
        return x(uniLookup[d.name].state - 0.074);
      } else if (d.name == "UC Berkeley") {
        return x(uniLookup[d.name].state);
      } else if (d.name == "UW Madison") {
        return x(uniLookup[d.name].state - 0.05);
      } else if (d.name == "University of Virginia") {
        return x(uniLookup[d.name].state + 0.02);
      } else if (d.name == "UNC Chapel Hill") {
        return x(uniLookup[d.name].state);
      } else if (d.name == "University of Florida") {
        return x(uniLookup[d.name].state + 0.075);
      } else if (d.name == "UC Irvine") {
        return x(uniLookup[d.name].state - 0.066);
      } else if (d.name == "UC San Diego") {
        return x(uniLookup[d.name].state - 0.052);
      } else if (d.name == "UC Santa Barbara") {
        return x(uniLookup[d.name].state - 0.0422);
      } else if (d.name == "UC Davis") {
        return x(uniLookup[d.name].state - 0.066);
      } else if (d.name == "University of Illinois Urbana-Champaign") {
        return x(uniLookup[d.name].state - 0.02);
      } else {
        return x(uniLookup[d.name].state);
      }
    };

    var y1Accessor = function(d, y) {
      return y(uniLookup[d.name].enroll);
    };

    var y2Accessor = function(d, y) {
      return y(d.max);
    };

    var r1Accessor = function(d, r) {
      return r(uniLookup[d.name].total);
    }

    var xScale = d3.scaleLinear(),
        y1Scale = d3.scaleLinear(),
        r1Scale = d3.scaleLinear();
    var y2Scale = d3.scaleLinear();

    var config1 = {
      top: 0,
      left: 0,
      width: 600,
      height_bubble: height_bubble,
      labelsToShow: ["University of Michigan", "UC Berkeley", "UCLA", "University of Virginia",
        "Georgia Tech",
"UNC Chapel Hill",
"UC Santa Barbara",
"University of Florida",
"UC Irvine",
"UC San Diego",
"UC Davis",
"College of William and Mary",
"UW Madison",
"University of Illinois Urbana-Champaign",
"UT Austin"],
      dotClassName: "dot1",
      title: "Diversity at public universities",
      subtitle: "",
      xLabel: "URM as percentage of graduating high school seniors in state",
      tickSize: 0,
      domainOpacity: 0,
      xAxisOffset: 10,
      yAxisOffset: 10,
      xTicks: 5,
      yTicks: null
    };

    var dataUrl1 = "bubble.json";

    d3.queue()
      .defer(d3.json, dataUrl1)
      .await(load);

    // When all data has loaded draw the scatter plot(s)
    function load(error, data1) {
      if (error) throw error;

      var bubble_data = data1.schools;

      bubble_data.forEach(d => uniLookup[d.name] = d);

      // Filter out universities where number of women is not provided

      xScale.domain([0.1, 0.7]);
      y1Scale.domain([0, 0.5]);

      r1Scale.domain(d3.extent(bubble_data, d => d.total))
        		.range([5, 20]);

     	scatterPlot(bubble_data, config1, xScale, y1Scale, r1Scale, xAccessor, y1Accessor, r1Accessor, formatThousands, formatRatio);
    }

    var legend = svg.append("g")
    	.attr("class", "legend")
    	.attr("transform", "translate(" + [-120, 0] + ")")

    legend.append("circle")
    	.attr("class", "dot")
    	.attr("r", 10);

    var flip = true;

    function pulse(time) {
      legend.select("circle")
      	.transition()
      	.duration(time)
      	.attr("r", d => flip ? 20 : 10)
      	.on("end", function() {
        	flip = !flip;
        	pulse(time);
      	})
    }

    pulse(2000);

    var legendLabel = legend.append("g")
    	.attr("transform", "translate(" + [0, -50] + ")")
    	.attr("text-anchor", "middle")

    legendLabel.append("text")
    	.attr("y", 14)
    	.text("Number of freshmen enrolled");

    // Draws a scatter plot
    function scatterPlot(data, cfg, x, y, r, xAcc, yAcc, rAcc, xFormat, yFormat) {

      var plot = svg.append("g")
      	.attr("class", "scatter-plot")
      	.attr("transform", "translate(" + [cfg.left, cfg.top] + ")");

      plot.append("rect")
      	.attr("class", "chart-background")
      	.attr("width", cfg.width)
      	.attr("height", cfg.height_bubble);

      x.range([0, cfg.width]);
      y.range([cfg.height_bubble, 0]);

      var xAxis = d3.axisBottom(x.nice())
      	.ticks(cfg.xTicks)
      	.tickSize(cfg.tickSize)
      	.tickFormat(xFormat);

      var xAxisGroup = plot.append("g")
      	.attr("transform", "translate(" + [0, cfg.height_bubble + cfg.xAxisOffset] + ")")
      	.call(xAxis);

     	xAxisGroup.select(".domain").style("opacity", cfg.domainOpacity);

      var xLabel = plot.append("g")
      	.append("text")
      	.attr("class", "axis-label")
      	.attr("text-anchor", "middle")
      	.attr("transform", "translate(" + [cfg.width / 2, cfg.height_bubble + 60] +")")
      	.text(cfg.xLabel);

      var yLabel = plot.append("g")
      	.append("text")
      	.attr("class", "axis-label")
      	.attr("text-anchor", "middle")
        .attr("dy", -50)
        .attr("dx", -cfg.height_bubble/2 + 30)
        .attr("transform", "rotate(-90)")
      	.text("URM as percentage of incoming freshmen class");

      var yAxis = d3.axisLeft(y.nice())
      	.ticks(cfg.yTicks)
      	.tickSize(cfg.tickSize)
      	.tickFormat(yFormat);

      var yAxisGroup = plot.append("g")
      	.attr("transform", "translate(" + [-cfg.yAxisOffset, 0] + ")")
      	.call(yAxis);

      yAxisGroup.select(".domain").style("opacity", cfg.domainOpacity);

      var title = plot.append("g")
      	.attr("transform", "translate(" + [cfg.width / 2, -50] + ") ")

      title.append("text")
      	.attr("class", "title")
      	.attr("text-anchor", "middle")
      	.text(cfg.title)

      title.append("text")
      	.attr("class", "sub-title")
      	.attr("y", 15)
      	.attr("text-anchor", "middle")
      	.text(cfg.subtitle)

      var gridLinesX = plot.append("g")
      	.selectAll("line")
      	.data(x.ticks(cfg.xTicks).slice(1, -1))
      	.enter().append("line")
      		.attr("class", "grid-line")
      		.attr("x1", d => x(d))
      		.attr("y1", d => 0)
      		.attr("x2", d => x(d))
      		.attr("y2", d => cfg.height_bubble);

      var gridLinesY = plot.append("g")
      	.selectAll("line")
      	.data(y.ticks(cfg.yTicks).slice(1, -1))
      	.enter().append("line")
      		.attr("class", "grid-line")
      		.attr("x1", d => 0)
      		.attr("y1", d => y(d))
      		.attr("x2", d => cfg.width)
      		.attr("y2", d => y(d));

      var dots = plot.append("g")
        .selectAll("circle")
        .data(data)
        .enter().append("circle")
          .attr("class", cfg.dotClassName)
      		.attr("id", (d, i) => d.id = "c" + i)
          .attr("cx", d => xAcc(d, x))
          .attr("cy", d => yAcc(d, y))
          .attr("r", d => rAcc(d, r))

      		.on("mouseover", function(d) {
            d3.selectAll("circle#" + d.id)
            	.raise()
            	.transition()
            	.style("stroke-width", 1.5);
            showLabel(d, labels);
          })
      		.on("mousemove", moveLabel)
      		.on("mouseout", function(d) {
           	d3.selectAll("circle#" + d.id)
            	.lower()
            	.transition()
            	.style("stroke-width", 0.75);
            hideLabel();
          })

      var labels = plot.append("g")
        .attr("class", "dot-labels")
      	.selectAll("text")
      	.data(data.filter(function(a) {
          return cfg.labelsToShow.includes(a.name);
        }))
      	.enter().append("text")
          .attr("class", d => d.class)
          .attr("x", d => labelPosX(d, x))
          .attr("y", d => labelPosY(d, y))
      		.attr("text-anchor", "middle")
          .attr("dy", d => -(rAcc(d, r) + 10))
      		.text(d => d.name)
    }

    function showLabel(d, labels) {
      var coords = [d3.event.pageX, d3.event.pageY];
      var top = coords[1] + 30,
          left = coords[0] - 50;

      div.transition()
        .duration(200)
        .style("opacity", 1);

      d3.selectAll('.dot-labels').selectAll(`text`).transition().style("fill", "#D3D3D3");
      d3.selectAll('.dot-labels').selectAll(`text.${d.class}`).transition().style("fill", "#000000");

      div.html("<b>" + d.name + "</b></br></br>" +
        "Freshman enrollment: " + d3.format(",")(uniLookup[d.name].total) + "</br>" +
        "URM % of graduating seniors: " + formatPercent(uniLookup[d.name].state) + "</br>" +
        "URM % of incoming freshmen: " + formatPercent(uniLookup[d.name].enroll)
      )
      	.style("top", top + "px")
      	.style("left", left + "px");
    }

    function moveLabel() {
      var coords = [d3.event.pageX, d3.event.pageY];

      var top = coords[1] + 30,
          left = coords[0] - 50;

      div.style("top", top + "px")
      	.style("left", left + "px");
    }

    function hideLabel(d) {
    d3.selectAll('.dot-labels').selectAll(`text`).transition().style("fill", "black");
    	div.transition()
        .duration(200)
        .style("opacity", 0);
    }


  </script>
