<!DOCTYPE html>
<div id="map"/>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
d3.json("data/data.js", function(data) {

  var map = L.map('map', {
      center: L.latLng(37.8715, -122.2730),
      zoom: 14,
      scrollWheelZoom: false,
      // maxBounds: L.latLngBounds()
  });

  L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/light_all/{z}/{x}/{y}.png', {
    attribution: '© <a href="https://github.com/CartoDB/cartodb">CartoDB</a>',
    maxZoom: 20
  }).addTo(map);

  var markers = L.markerClusterGroup({
    maxClusterRadius: 120,
    showCoverageOnHover: false,
    spiderLegPolylineOptions: {weight: 0}, 
    iconCreateFunction: function (cluster) {
        var childCount = cluster.getChildCount();

      var c = ' marker-cluster-';
      if (childCount < 25) {
        c += 'small';
      } else if (childCount < 100) {
        c += 'medium';
      } else {
        c += 'large';
      }
  
      return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(40, 40) });
    },
  }).addTo(map);
      
  var iconsize = [60, 60]
  var iconanchor = [30, 50]
  var popupanchor = [0, -40]

  var pedestrianIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/dailycal-projects/traffic-stops/a0805add78f27e0169d280586251c4c55682d570/src/images/pedestrian.png',
    iconSize: iconsize,
    iconAnchor: iconanchor,
    popupAnchor: popupanchor,
  });

  var bikeIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/dailycal-projects/traffic-stops/25acbb8906638bde79641caa00a17276b9574416/src/images/bike.png',
    iconSize: iconsize,
    iconAnchor: iconanchor,
    popupAnchor: popupanchor,
  });

  var susVehicleIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/dailycal-projects/traffic-stops/a0805add78f27e0169d280586251c4c55682d570/src/images/sus_vehicle.png',
    iconSize: iconsize,
    iconAnchor: iconanchor,
    popupAnchor: popupanchor,
  });

  var trafficIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/dailycal-projects/traffic-stops/a0805add78f27e0169d280586251c4c55682d570/src/images/vehicle.png',
    iconSize: iconsize,
    iconAnchor: iconanchor,
    popupAnchor: popupanchor,
  });

  var pedestrianMarkers = [];
  var bikeMarkers = [];
  var susVehicleMarkers = [];
  var trafficMarkers = [];

  for (key in data) {
    var value = data[key];
    var colorIcon = (value.type == 1194 ? pedestrianIcon : value.type == 1196 ? bikeIcon : value.type == "1194B" ? susVehicleIcon : trafficIcon)
    var date = value.date + " " + value.time
    var marker = L.marker(value.coordinates, {icon: colorIcon, title: date});
    var description = date;
    marker.bindPopup(description);

    if (value.type == 1194) {
      pedestrianMarkers.push(marker)
    } else if (value.type == 1196) {
      bikeMarkers.push(marker)
    } else if (value.type == "1194B") {
      susVehicleMarkers.push(marker)
    } else if (value.type == "T") {
      trafficMarkers.push(marker)
    }

    markers.addLayer(marker);
  }

  map.addLayer(markers);

  var pedestrianLayer = L.featureGroup.subGroup(markers, pedestrianMarkers).addTo(map);
  var bikeLayer = L.featureGroup.subGroup(markers, bikeMarkers).addTo(map);
  var susVehicleLayer = L.featureGroup.subGroup(markers, susVehicleMarkers).addTo(map);
  var trafficLayer = L.featureGroup.subGroup(markers, trafficMarkers).addTo(map);

  var overlays = {
    "<img src='https://raw.githubusercontent.com/dailycal-projects/traffic-stops/a0805add78f27e0169d280586251c4c55682d570/src/images/pedestrian.png'> Pedestrian": pedestrianLayer, 
    "<img src='https://raw.githubusercontent.com/dailycal-projects/traffic-stops/25acbb8906638bde79641caa00a17276b9574416/src/images/bike.png'> Bicycle": bikeLayer, 
    "<img src='https://raw.githubusercontent.com/dailycal-projects/traffic-stops/a0805add78f27e0169d280586251c4c55682d570/src/images/sus_vehicle.png'> Suspicious vehicle": susVehicleLayer,
    "<img src='https://raw.githubusercontent.com/dailycal-projects/traffic-stops/a0805add78f27e0169d280586251c4c55682d570/src/images/vehicle.png'> Traffic": trafficLayer};

  var options = {
    collapsed: false
  };

  L.control.layers(null, overlays, options).addTo(map);

  map.invalidateSize();

  $(".leaflet-control-layers-overlays").prepend("<h4 class='leaflet-control-title'>Types of stops </h4>");

})
</script>
